.form-group{
    padding: 5px;
}

.button{
    display: block;
    width: 100%;
    padding: 14px 28px;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    color: #fff;
    background-color: #012a93;
    border-color: #012a93;
}

.label {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.signup {
    text-align: center;
}